// Font variables
$font-title: 'bree-thin', Helvetica, sans-serif;
$font-main: 'Roboto', 'Noto', Helvetica, sans-serif;
$font-icon: 'FontAwesome';

// Font weights
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
